.right {
    .list {
        display: flex;
        flex-wrap: wrap;
    }
}
.header {
    position: relative;
    height: 410px;
    margin: 0 -59px;
    margin-top: -70px;
    .bg-blur, .bg-alpha, .bg-alpha-1 {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 380px;
        z-index: 0;
    }
    .bg-blur {
        background: var(--bg-blur) top/cover no-repeat;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .bg-alpha {
        background-image: var(--bg-alpha);
    }
    .bg-alpha-1 {
        background-image: var(--bg-alpha-1);
        opacity: 0.8;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1;
        position: absolute;
        bottom: 20px;
        left: 50px;
        z-index: 2;
        img {
            width: 140px;
            border-radius: 50%;
            margin-right: 32px;
        }
        .title {
            display: flex;
            align-items: center;
            & h1 {
                font-size: 6rem;
                color: var(--text-primary);
                font-weight: 700;
            }
            .btn {
                background-color: var(--purple-primary);
                margin-left: 10px;
                width: 5rem;
                height: 5rem;
                & i {
                    font-size: 24px;
                    color: #fff;
                }
            }
        }

        .action {
            display: flex;
            align-items: center;
            .follow {
                font-size: 1.4rem;
                color: rgba(254, 255, 255, 0.8);
                margin-right: 20px;
            }
            .btn {
                font-size: 1.2rem;
                padding: 5px 15px;
                background: rgba(254, 255, 255, 0.1);
                border: 1px solid rgba(254, 255, 255, 0.2);
                & i {
                    margin-right: 5px;
                }
            }
        }
    }
}
@media (max-width: 820px) {
    .header {
        margin: 0 -24px !important;
        .content {
            .title {
                margin-bottom: 5px;
                & h1 {
                    font-size: 2.5rem !important;
                }
                .btn {
                    background-color: var(--purple-primary);
                    margin-left: 10px;
                    width: 3.5rem !important;
                    height: 3.5rem !important;
                    & i {
                        font-size: 2.5rem !important;
                        color: #fff;
                    }
                }
            }
        }
    }
}
