.bg-blur, .bg-alpha, .bg-alpha-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;
    z-index: 0;
}
.bg-blur {
    position: absolute;
    background: var(--bg-blur) top/cover no-repeat;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.bg-alpha {

    background-image: var(--bg-alpha);
}
.bg-alpha-1 {
    background-image: var(--bg-alpha-1);
    opacity: .8;
}
.top {
    position: relative;
    display: flex;
    padding-top: 50px;
    align-items: center;
    & h1 {
        font-size: 4rem;
    }
    .btn {
        background-color: var(--purple-primary);
        margin-left: 10px;
    }
}
