.bg-blur, .bg-alpha, .bg-alpha-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    z-index: 0;
}
.bg-blur {
    position: absolute;
    background: var(--bg-chart) top/cover no-repeat;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.bg-alpha {

    background-image: var(--bg-alpha);
}
.bg-alpha-1 {
    background-image: var(--bg-alpha-1);
    opacity: .8;
}

.top {
    position: relative;
    display: flex;
    padding-top: 50px;
    align-items: center;
    & h1 {
        font-size: 4rem;
    }
    .btn {
        background-color: var(--purple-primary);
        margin-left: 10px;
        & i {
            color: #fff;
        }
    }
}

.zing-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .zing-chart-top {
        margin-top: 2rem;
        padding: 0.6rem 1rem;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.07);
        .rank-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2.4px;
            .rank-box {
                width: 2.8rem;
                height: 1.4rem;
                border-radius: 2.4px;
                margin-right: 0.6rem;
            }
            &:nth-child(2) {
                margin: 0 3rem;
            }
            &:nth-child(1) .rank-box {
                background: #4A90E2;
            }
            &:nth-child(2) .rank-box {
                background: #27BD9C;
            }
            &:nth-child(3) .rank-box {
                background: #A64250;
            }
            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: var(--text-primary);
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                height: auto;
                overflow: hidden;
            }
        }
    }
    #myChart {
        margin-bottom: 4rem;
        max-height: 360px !important;
    }
}
.title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-primary);
    margin-top: 40px;
}
.item {
    margin-bottom: 20px;
    .wrapper {
        border-radius: 20px;
        background-color: var(--chart-box-bg-alpha);
        width: 100%;
        height: 100%;
    }
}

.btn-more {
    margin: 20px auto;
    background-color: transparent;
    border: 1px solid var(--text-primary);
}
.header {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 40px;
    & h1 {
        font-size: 2.4rem;
    }
    & .btn {
        background-color: var(--purple-primary);
        margin-left: 10px;
        width: 3rem;
        height: 3rem;
        & i {
            color: #fff;
        }
    }
}
.wrapper-btn {
    display: flex;
}

@media (max-width: 740px) {
    .title {
        font-size: 2rem;
    }
    .header {
        padding: 10px 0;
    }
    .item {
        .wrapper {
            .header {
                margin-left: 20px;
            }
        }
    }
    .zing-chart {
        align-items: self-start;
        .zing-chart-top {
            flex-direction: column;
            align-items: flex-start;
            .rank-item:nth-child(2) {
                margin: 0 !important;
            }
        }
    }
}
